<div class="modal-header mb-5">
  <h4 class="modal-title" id="modal-basic-title">Calling</h4>
  <span *ngIf="joinedCall"> Timer: {{ formatTime(timer) }}</span>
  <button
    type="button"
    class="btn-close bg-white"
    aria-label="Close"
    (click)="onCancel()"
  ></button>
</div>
<div class="modal-body mb-5">
  <div class="container-fluid">
    <div class="d-flex align-content-center justify-content-evenly">
      <div *ngIf="!joinedCall" ngbAccordion [closeOthers]="true">
        <button class="btn gradient-button" (click)="joinRoom()">Join</button>
      </div>
      <div
        *ngIf="joinedCall"
        class="d-flex align-content-center justify-content-evenly w-100"
      >
        <div
          class="d-flex align-content-center justify-content-center flex-column gap-1"
        >
          <div
            class="peer-box d-flex align-content-center justify-content-center"
          >
            You
          </div>
          <div
            (click)="muteAudioClick()"
            class="upload-pic-box gradient-background d-flex align-content-center justify-content-center"
          >
            <i
              class="bx"
              [class.bx-microphone]="!muteLocalPeer"
              [class.bx-microphone-off]="muteLocalPeer"
            ></i>
          </div>
        </div>
        <div *ngFor="let peer of peers">
          <div
            class="d-flex align-content-center justify-content-center flex-column gap-1"
          >
            <div
              class="peer-box d-flex align-content-center justify-content-center"
            >
              {{ peer.name[0] }}
            </div>
            <!-- <div
              (click)="muteAudioClick()"
              class="upload-pic-box gradient-background d-flex align-content-center justify-content-center"
            >
              <i class="bx bx-microphone"></i>
            </div> -->
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div *ngIf="joinedCall" class="modal-footer">
  <button class="btn gradient-button" (click)="openConfirmation()">
    Leave Call
  </button>
</div>

<div class="overlay-conformation" *ngIf="confirmationOverlay">
  <!-- closing button -->
  <div class="position-absolute top-0 end-0">
    <button
      type="button"
      class="btn-close btn-close-white"
      ngbAutofocus
      aria-label="Close"
      (click)="closeOverlay()"
    ></button>
  </div>
  <!-- closing cinfirmation -->
  <div class="conformation-box">
    <p class="confirmation-text">Are You Sure Want To End This Call?</p>
    <div class="confirmation-buttongroup">
      <button class="btn gradient-button" (click)="continue()">CONTINUE</button>
      <button class="btn gradient-button" (click)="submitReview()">END</button>
    </div>
  </div>
</div>

<div class="overlay-conformation" *ngIf="rechargeWallet">
  <div
    class="modal-body d-flex justify-content-center align-items-center flex-column p-5"
  >
    <div class="mb-3">
      <label for="dateOfBirth">{{ message }}</label>
      <i (click)="refreshScreen()" class="bx bx-sm bx-refresh"></i>
    </div>
    <div class="d-flex justify-content-center align-items-center gap-3">
      <button
        type="button"
        class="btn btn-outline-light"
        (click)="closeRechargeWalletOverlay()"
      >
        Quit Chat
      </button>
      <button
        type="button"
        class="btn btn-outline-light btn-success"
        (click)="openWallet()"
      >
        Recharge Wallet
      </button>
    </div>
  </div>
</div>

<div
  class="feedback-overlay-conformation"
  *ngIf="!parentData?.userIsAstrologer && reviewSubmitted"
>
  <div
    class="modal-body d-flex justify-content-center align-items-center flex-column p-5"
  >
    <label for="">Your Review</label>
    <div class="mb-3">
      <div>
        <ngb-rating
          [(rate)]="selectedStars"
          [max]="maxStars"
          [starTemplate]="customStarTemplate"
        ></ngb-rating>
      </div>

      <ng-template #customStarTemplate let-fill="fill">
        <span
          class="star"
          [style.color]="getStarColor(fill)"
          [style.width.%]="fill"
          [style.font-size.em]="2"
          >&#9733;</span
        >
      </ng-template>
    </div>
    <textarea
      class="form-control w-100 mb-3"
      placeholder="Your Review Please"
      rows="3"
      (change)="onTextareaChange($event)"
    >
    </textarea>
    <div class="d-flex justify-content-center align-items-center gap-3">
      <button
        type="button"
        class="btn btn-outline-light"
        (click)="onClickReivewSubmitButton()"
        [disabled]="this.selectedStars <= 0 || this.textArea == ''"
        [class.btn-success]="this.selectedStars > 0 || this.textArea != ''"
      >
        Submit Review
      </button>
    </div>
  </div>
</div>
