<div class="main-section">
  <h1>Why Raksa ?</h1>
  <p>
    Modern problems require modern solutions. Raksa blends cutting-edge
    technology with ancient wisdom to provide personalized astrological guidance
    that helps you navigate life’s challenges with confidence.
  </p>
  <button class="btn gradient-button" type="button" (click)="onClick()">
    Get Started
  </button>
  <div class="arrow-container">
    <div (click)="scrollToSection()" class="arrow"></div>
  </div>
</div>

<div id="first" class="odd section">
  <div>
    <h1>Reduce Stress</h1>
    <p>
      In the fast-paced world we live in, stress can accumulate from various
      sources—work, relationships, and daily challenges. At Raksa, we provide
      personalized astrological insights to help you understand the root causes
      of your stress. By aligning your life with the natural rhythms of the
      cosmos, you can achieve a sense of balance and calm. Our guidance empowers
      you to navigate life’s challenges with confidence, reducing stress and
      promoting inner peace. Discover how the wisdom of the stars can bring
      tranquility to your life.
    </p>
  </div>
  <h1 class="responsive-header">Reduce Stress</h1>

  <img src="../../../assets/images/reduce_stress.png" alt="" />
</div>

<div class="section">
  <h1 class="responsive-header">Improve Productivity</h1>

  <img src="../../../assets/images/improve_productivity.png" alt="" />
  <div>
    <h1>Improve Productivity</h1>
    <p>
      Productivity is key to achieving your goals and realizing your full
      potential. Raksa's personalized astrological insights help you understand
      your unique strengths, weaknesses, and optimal times for action. By
      aligning your tasks and schedules with favorable planetary influences, you
      can maximize your efficiency and effectiveness. Our guidance empowers you
      to focus on what matters most, manage your time wisely, and overcome
      obstacles with clarity. Let Raksa's wisdom enhance your productivity and
      drive you towards success.
    </p>
  </div>
</div>

<div class="section odd">
  <div>
    <h1>Personal and Professional Growth</h1>
    <p>
      Growth is a continuous journey of self-improvement and development. At
      Raksa, we offer personalized astrological guidance to support both your
      personal and professional evolution. By understanding your astrological
      profile, you can uncover hidden talents, recognize opportunities, and
      address challenges effectively. Our insights provide a roadmap for your
      journey, helping you make informed decisions, set achievable goals, and
      cultivate meaningful relationships. Whether you seek to advance in your
      career or enrich your personal life, Raksa is here to guide you every step
      of the way. Embrace the wisdom of the cosmos and unlock your full
      potential. the wisdom of the stars can bring tranquility to your life.
    </p>
  </div>
  <h1 class="responsive-header">Personal and Professional Growth</h1>
  <img src="../../../assets/images/personal_proffestional_growth.png" alt="" />
</div>

<div class="section">
  <h1 class="responsive-header">Improve Focus</h1>

  <img src="../../../assets/images/improve_focus.png" alt="" />
  <div>
    <h1>Improve Focus</h1>
    <p>
      In a world filled with distractions, maintaining focus can be challenging.
      Raksa offers personalized astrological insights to help you harness your
      mental energy and enhance your concentration. By understanding the
      planetary influences on your mind and emotions, you can identify the best
      times for deep work and critical thinking. Our guidance helps you create
      an environment conducive to focus, align your activities with your natural
      rhythms, and reduce mental clutter. Let Raksa assist you in sharpening
      your focus, so you can achieve your goals with clarity and precision.
    </p>
  </div>
</div>

<div class="section odd">
  <div>
    <h1>Better Sleep</h1>
    <p>
      Better Sleep Quality sleep is essential for overall well-being and
      vitality. Raksa provides personalized astrological insights to help you
      understand the cosmic influences on your sleep patterns. By aligning your
      bedtime routine with favorable planetary energies, you can achieve deeper,
      more restful sleep. Our guidance helps you identify the best times for
      relaxation and sleep, understand the factors disrupting your rest, and
      create a soothing environment conducive to slumber. Let Raksa's wisdom
      support you in achieving better sleep, so you wake up refreshed and ready
      to embrace each day. suscipit laboriosam, nisi ut al Ut enim ad minima
      veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam,
      nisi ut al
    </p>
  </div>
  <h1 class="responsive-header">Better Sleep</h1>

  <img src="../../../assets/images/better_sleep.png" alt="" />
</div>

<div class="section">
  <h1 class="responsive-header">Happiness</h1>

  <img src="../../../assets/images/happiness.png" alt="" />
  <div>
    <h1>Happiness</h1>
    <p>
      Happiness Happiness is the ultimate goal of life, and at Raksa, we believe
      in guiding you towards a more joyful and fulfilling existence. Our
      personalized astrological insights help you understand the cosmic
      influences on your emotions and well-being. By aligning your actions and
      decisions with favorable planetary energies, you can enhance your
      emotional balance and find greater joy in everyday life. Our guidance
      encourages you to cultivate positive relationships, pursue meaningful
      activities, and embrace a mindset of gratitude and positivity. Let Raksa
      illuminate your path to happiness and inner peace.
    </p>
  </div>
</div>
