<div class="main-section">
  <h1>Our Story</h1>
  <p>
    At Raksa, our journey began with a fascination for the cosmos and a quest to
    harmonize ancient wisdom with modern technology. We envisioned a platform
    that not only provides astrological insights but also integrates timeless
    philosophical teachings to guide you through life’s complexities.
  </p>
  <button class="btn gradient-button" type="button" (click)="onClick()">
    Get Started
  </button>
</div>

<div class="our-story-img-section">
  <img src="../../../assets/images/our-story.png" alt="" />
</div>

<div class="our-story-text">
  <h3 class="w-75 text-center">
    At Raksa, our journey began with a fascination for the cosmos and a quest to
    harmonize ancient wisdom with modern technology. We envisioned a platform
    that not only provides astrological insights but also integrates timeless
    philosophical teachings to guide you through life’s complexities.
  </h3>
</div>

<div class="section boder-bottom">
  <img src="../../../assets/images/insurance.png" alt="" />
  <div class="d-flex flex-column gap-5 text-start">
    <h4>
      Our founders recognized the need for a platform that not only offers
      astrological insights but also provides a philosophical framework to
      support personal growth and protection.
    </h4>
    <h4>
      Through continuous innovation and a commitment to excellence, Raksa aims
      to redefine how astrological services are delivered, ensuring that each
      user receives meaningful and protective guidance.
    </h4>
  </div>
</div>

<div class="section odd">
  <div>
    <h4>
      We invite you to join us on our journey at Raksa. Explore our platform and
      discover how our unique combination of ancient wisdom and modern
      technology can help you navigate life’s challenges with greater clarity
      and protection. Together, let’s embark on a path toward enlightenment and
      empowerment.
    </h4>
  </div>
  <img src="../../../assets/images/designer-working.png" alt="" />
</div>
