.gradient-button {
  background: linear-gradient(
    to right,
    #2895ff 0%,
    #a528ff 98.92%
  ); /* Adjust colors as needed */

  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  box-shadow: 10px 5px 5px red;
}

.gradient-button:hover {
  background: linear-gradient(
    to right,
    #d700ff 0%,
    #7000ff 80.92%
  ); /* Reverse the gradient colors on hover */
  box-shadow: 10px 5px 5px red;
}

.testimonial-cards-section {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
  align-items: center;
  margin-top: 3rem;
  @media only screen and (min-width: 320px) and (max-width: 767px) {
    grid-template-columns: 1fr;
    justify-items: center;
  }
}

.guide-cards-section {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
  align-items: center;
  margin-top: 3rem;
  @media only screen and (min-width: 320px) and (max-width: 767px) {
    grid-template-columns: 1fr;
    justify-items: center;
  }
}

.testimonial-cards-section > :nth-child(even) {
  background: linear-gradient(150.77deg, #d900ff42 0%, #6f00ff 98.92%);
}

.testimonial-cards-section > :nth-child(5) {
  grid-column: 2; /* Start at the second column */
}

.testimonial-cards-section > :nth-child(6) {
  grid-column: 3; /* Start at the third column */
}

@media only screen and (min-width: 320px) and (max-width: 767px) {
  .testimonial-cards-section > :nth-child(5) {
    grid-column: 1; /* Start at the second column */
  }

  .testimonial-cards-section > :nth-child(6) {
    grid-column: 1; /* Start at the third column */
  }
}

// .testimonial {
//   height: 200px;
//   width: 290px;
// }
.guide-card {
  height: 200px;
  display: flex;
}

.cta-container {
  height: 300px;
  width: 100vw;
  background-color: #5c4dff;
  object-fit: fit;
  padding: 0;
  display: flex;
  align-content: center;
  position: relative;
  justify-content: center;
  align-items: center;
  img {
    object-fit: cover;
    width: 100vw;
    height: 300px;
    right: 100px;
  }
  .cta-action-section {
    position: absolute;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    .cta-button {
      background-image: linear-gradient(
        109.6deg,
        rgb(255, 219, 47) 11.2%,
        rgb(244, 253, 0) 100.2%
      );
      border: none;
      padding: 0.75rem;
      border-radius: 50px;
      font-size: 1rem;
      font-weight: 600;
      &:hover {
        background-image: linear-gradient(
          109.6deg,
          rgb(255, 214, 10) 11.2%,
          rgba(245, 253, 0, 0.719) 100.2%
        );
      }
    }

    @media only screen and (min-width: 320px) and (max-width: 767px) {
      h3 {
        font-size: 1rem;
      }
    }
  }
}
