.hero-wrap {
  position: relative;
  padding-top: 100px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-image: url(../../../assets/images/hero-bg.png);
  @media only screen and (min-width: 320px) and (max-width: 767px) {
    height: 100vh;
  }
}
.hero-ab {
  position: absolute;
  bottom: 100px;
  display: flex;
  justify-content: space-around;
  width: 100%;
  @media only screen and (min-width: 320px) and (max-width: 767px) {
    flex-direction: column;
  }
}

.hero-banner {
  position: absolute;
  bottom: 0;
  background-color: #6f00ff;
  display: flex;
  width: 100%;
  padding: 0.5rem;
  text-align: center;
  justify-content: space-evenly;
  @media only screen and (min-width: 320px) and (max-width: 767px) {
    text-align: left;
    padding: 0.3rem;
    height: 60px;
    h5 {
      font-size: 0.75rem;
      display: inline;
      height: 60px;
      line-height: 1rem;
    }
  }
}

.gradient-button {
  background: linear-gradient(
    to right,
    #2895ff 0%,
    #a528ff 98.92%
  ); /* Adjust colors as needed */

  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  box-shadow: 10px 5px 5px red;
}

.gradient-button:hover {
  background: linear-gradient(
    to right,
    #d700ff 0%,
    #7000ff 80.92%
  ); /* Reverse the gradient colors on hover */
  box-shadow: 10px 5px 5px red;
}
.hero-card {
  background: #0d081d;
  border: 1px solid #6f00ff;
  display: flex;
  flex-direction: column;
  padding: 1rem;
  border-radius: 10px;
}

.testimonial-cards-section {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
  align-items: center;
  margin-top: 3rem;
  @media only screen and (min-width: 320px) and (max-width: 767px) {
    grid-template-columns: 1fr;
    justify-items: center;
  }
}

.text-with-flame {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.Raksa-gif {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-right: 4rem;
  border-right: 1px solid purple;
  width: 100%;
  img {
    object-fit: cover;
    width: 100%;
    @media only screen and (min-width: 320px) and (max-width: 767px) {
      width: 350px;
    }
  }
}

.comparision {
  display: grid;
  grid-template-columns: 1fr 500px;
  @media only screen and (min-width: 320px) and (max-width: 767px) {
    grid-template-columns: 1fr;
    overflow-x: hidden;
  }
}

.guide-cards-section {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
  align-items: center;
  margin-top: 3rem;
  @media only screen and (min-width: 320px) and (max-width: 767px) {
    grid-template-columns: 1fr;
    justify-items: center;
  }
}
.guide-card {
  height: 200px;
  display: flex;
}

.testimonial-cards-section > :nth-child(even) {
  background: linear-gradient(150.77deg, #d900ff42 0%, #6f00ff 98.92%);
}

.testimonial-cards-section > :nth-child(5) {
  grid-column: 2; /* Start at the second column */
}

.testimonial-cards-section > :nth-child(6) {
  grid-column: 3; /* Start at the third column */
}

@media only screen and (min-width: 320px) and (max-width: 767px) {
  .testimonial-cards-section > :nth-child(5) {
    grid-column: 1; /* Start at the second column */
  }

  .testimonial-cards-section > :nth-child(6) {
    grid-column: 1; /* Start at the third column */
  }
}

// .testimonial {
//   height: 200px;
//   width: 290px;
// }

.hero-text-left-section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  .hero-text {
    width: 75%;
    line-height: 5rem;
    font-size: 4rem;
    color: rgb(240, 240, 240);
    font-weight: 700;
  }
  h5 {
    line-height: 5rem;
    font-size: 1rem;
    color: rgb(240, 240, 240);
    font-weight: 500;
  }
  @media only screen and (min-width: 320px) and (max-width: 767px) {
    margin: 10px;
    align-items: center;

    h5 {
      line-height: 1.5rem;
    }
    .hero-text {
      width: 100%;
      line-height: 3rem;
      font-size: 2rem;
      color: rgb(240, 240, 240);
      font-weight: 700;
    }
  }
}

.act-trust {
  display: flex;
  justify-content: space-around;
}
.cta-container {
  height: 300px;
  width: 100vw;
  background-color: #5c4dff;
  object-fit: fit;
  padding: 0;
  display: flex;
  align-content: center;
  position: relative;
  justify-content: center;
  align-items: center;
  img {
    object-fit: cover;
    width: 100vw;
    height: 300px;
    right: 100px;
  }
  .cta-action-section {
    position: absolute;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    .cta-button {
      background-image: linear-gradient(
        109.6deg,
        rgb(255, 219, 47) 11.2%,
        rgb(244, 253, 0) 100.2%
      );
      border: none;
      padding: 0.75rem;
      border-radius: 50px;
      font-size: 1rem;
      font-weight: 600;
      &:hover {
        background-image: linear-gradient(
          109.6deg,
          rgb(255, 214, 10) 11.2%,
          rgba(245, 253, 0, 0.719) 100.2%
        );
      }
    }

    @media only screen and (min-width: 320px) and (max-width: 767px) {
      h3 {
        font-size: 1rem;
      }
    }
  }
}

.corsell-continer {
  margin: 1rem;
  display: block;
  @media only screen and (min-width: 320px) and (max-width: 767px) {
    display: none;
  }
}

.hero-page-v2 {
  display: grid;
  grid-template-columns: 1fr 750px;
  @media only screen and (min-width: 320px) and (max-width: 767px) {
    grid-template-columns: 1fr;
  }
}
