<div class="terms-container">
  <h1>Privacy Policy</h1>
  <div class="terms-content">
    <h2>1. Introduction</h2>
    <p>
      Welcome to Raksā's Privacy Policy. This policy outlines how we collect,
      use, disclose, and protect your personal information. By using our
      services, you agree to the terms of this Privacy Policy.
    </p>

    <h2>2. Information We Collect</h2>
    <p>We may collect the following types of information:</p>
    <ol>
      <li>
        Personal Information: Information that can identify you, such as your
        name, email address, and date of birth.
      </li>
      <li>
        Usage Information: Information about how you use our website and
        services, including your IP address, browser type, and device
        information.
      </li>
      <!-- Add more types of information -->
    </ol>

    <h2>3. How We Use Your Information</h2>
    <p>We use your information for the following purposes:</p>
    <ol>
      <li>
        Provide Services: To provide personalized astrology readings and
        services.
      </li>
      <li>
        Improve Services: To analyze and improve our services and user
        experience.
      </li>
      <!-- Add more purposes -->
    </ol>

    <!-- Add more sections as needed -->

    <h2>4. Contact Us</h2>
    <p>
      If you have any questions about this Privacy Policy, please contact us at
      <a href="mailto:support@metatigertech@gmail.com"
        >support@metatigertech@gmail.com</a
      >.
    </p>
  </div>
</div>
