<section class="section learn">
  <div class="container">
    <div class="mb-5">
      <div class="d-block">
        <h2 class="fw-semi-bold mb-2">Learn</h2>
        <div class="menu">
          <ul>
            <li *ngFor="let letter of alphabet">
              <a style="cursor: pointer" (click)="selectAlphabet(letter)">{{
                letter
              }}</a>
            </li>
          </ul>
        </div>
        <div class="session mt-4 d-flex justify-content-evenly">
          <button
            class="btn btn-white"
            [class.gradient-button]="dataInformationType == 'Accurate'"
            (click)="setInformationType('Accurate')"
          >
            Accurate
          </button>
          <button
            (click)="setInformationType('Data')"
            class="btn btn-white"
            [class.gradient-button]="dataInformationType == 'Data'"
          >
            Dirty Data
          </button>
          <button
            (click)="setInformationType('Reference')"
            class="btn btn-white"
            [class.gradient-button]="dataInformationType == 'Reference'"
          >
            Reference
          </button>
          <button
            (click)="reset()"
            class="btn btn-white"
            [class.gradient-button]="dataInformationType == 'Reference'"
          >
            Reset
          </button>
        </div>
      </div>
    </div>

    <div class="row" *ngIf="!loadSpinner">
      <div *ngIf="astrologersData.length == 0">No data</div>
      <ng-container *ngFor="let astrologer of astrologersData">
        <div
          class="col-xl-3 col-lg-6"
          (click)="requestForFeature && navigateToAboutPage(astrologer)"
        >
          <div class="card astrologer">
            <div class="card-body">
              <div
                class="d-flex justify-content-center"
                *ngIf="!astrologer['personal_image_s3']"
              >
                <div
                  class="avatar-md rounded-circle mb-2 bg-dark content-center"
                >
                  {{ astrologer?.name[0]?.toUpperCase() }}
                </div>
              </div>
              <div
                class="d-flex justify-content-between"
                (click)="
                  openConfirmation(content, astrologer['chart_image_s3'])
                "
              >
                <img
                  class="avatar-md rounded-circle mb-2 im"
                  src="{{ astrologer['personal_image_s3'] }}"
                  *ngIf="
                    astrologer['personal_image_s3'] != 'null' ||
                    astrologer['personal_image_s3'] != ''
                  "
                  style="object-fit: cover"
                />
                <div style="position: relative">
                  <img
                    class="avatar-md rounded-circle mb-2 im"
                    src="{{ astrologer['chart_image_s3'] }}"
                    *ngIf="
                      astrologer['chart_image_s3'] != 'null' ||
                      astrologer['chart_image_s3'] != ''
                    "
                    style="object-fit: cover"
                  />
                  <div class="blur-layer"></div>
                </div>
              </div>

              <h4 class="fw-semi-bold mb-2">
                {{ astrologer["name"]?.toUpperCase() }}
              </h4>
              <h6 class="mb-2">
                {{ astrologer["date_of_birth"] }}
              </h6>
              <h6 class="mb-2">
                {{ astrologer["place_of_birth"] }}
              </h6>
              <h6 class="mb-2">
                {{ astrologer["time_of_birth"] }}
              </h6>
              <h6 class="mb-2">
                {{
                  astrologer["astro_sage_rating"] == "Data"
                    ? "Dirty Data"
                    : astrologer["astro_sage_rating"]
                }}
              </h6>

              <div *ngIf="requestForFeature" class="session mt-1">
                <button
                  (click)="
                    sendChatNotificationToAstrologer(
                      $event,
                      astrologer,
                      content
                    )
                  "
                  class="btn btn-white"
                >
                  Request Chat
                </button>
              </div>
            </div>
          </div>
        </div>
      </ng-container>
    </div>
  </div>
</section>
<ngb-toast
  *ngIf="toast"
  [autohide]="true"
  [delay]="5000"
  class="toast-container position-fixed top-0 end-0 p-3 bg-success text-light"
  (hidden)="resetToast()"
  >{{ message }}
</ngb-toast>

<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Chart</h4>
    <button
      type="button"
      class="btn-close"
      style="background-color: rgb(255, 255, 255)"
      aria-label="Close"
      (click)="modal.dismiss()"
    ></button>
  </div>
  <div
    class="modal-body d-flex justify-content-center align-items-center flex-column p-5"
  >
    <img src="{{ chartImageS3 }}" style="object-fit: fill" />
  </div>
</ng-template>
