.web-view-visible {
  display: block;
}
.mobile-view-visible {
  display: none;
}
.apitest {
  height: 100vh;
  display: flex;
  justify-content: center;
}

.select-box {
  color: black; /* Set the text color of the selected option */
}

select option {
  margin: 40px;
  background: #230033;
  color: #fff;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.4);
}

.gradient-button-new {
  background: linear-gradient(
    to right,
    #2895ff 0%,
    #a528ff 98.92%
  ); /* Adjust colors as needed */

  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}
.examples {
  color: rgba(255, 255, 255, 0.732);
}
.gradient-button-new:hover {
  background: linear-gradient(
    to right,
    #d700ff 0%,
    #7000ff 80.92%
  ); /* Reverse the gradient colors on hover */
}

.gradient-button {
  background: linear-gradient(
    150.77deg,
    #d700ff 0%,
    #7000ff 98.92%
  ); /* Adjust colors as needed */

  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background 0.3s ease;
}

.gradient-button:hover {
  background: linear-gradient(
    150.77deg,
    #d700ff 0%,
    #7000ff 80.92%
  ); /* Reverse the gradient colors on hover */
}

.time-button {
  background: linear-gradient(
    150.77deg,
    #6a00ff 0%,
    #6f00ff9e 98.92%
  ); /* Adjust colors as needed */

  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background 0.3s ease;
}
.layer-1 {
  overflow-y: scroll;
  overflow-x: hidden;
  min-height: 100px;
  max-height: 450px;
  padding: 10px;
  &::-webkit-scrollbar {
    width: 3px; /* Width of the scrollbar */
  }

  &::-webkit-scrollbar-track {
    background: linear-gradient(150.77deg, #d700ff 0%, #7000ff 80.92%);
    border-radius: 10px;
  }

  &::-webkit-scrollbar-thumb {
    background: linear-gradient(to right, #43c6ac, #f8ffae);
    border-radius: 6px; /* Rounded corners */
  }
}

.time-button:hover {
  background: linear-gradient(
    to right,
    #43c6ac,
    #f8ffae
  ); /* Reverse the gradient colors on hover */
}
.login-signup {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.add-underline {
  text-decoration: underline;
}
.add-relative-btn {
  height: 1.5rem;
  font-size: small;
  display: flex;
  justify-content: space-around;
  align-items: center;
  @media only screen and (min-width: 320px) and (max-width: 767px) {
    width: 60%;
  }
}
.overlay-layer {
  position: absolute;
  background: linear-gradient(to right, #a550d3, #da9fe9);
  display: flex;
  height: 100%;
  width: 95%;
  border-radius: 5px;
}

.proceed-button {
  background: linear-gradient(
    150.77deg,
    #bb38f347 0%,
    #6f00ff2d 98.92%
  ); /* Adjust colors as needed */

  color: white;
  font-size: 3rem;
  font-weight: 900;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background 0.3s ease;
}
.ng-select.custom {
  background: linear-gradient(150.77deg, #d900ff79 0%, #6f00ffb7 80.92%);
  border-radius: 10px;
  .ng-dropdown-panel {
    background: #230033;
    color: #fff;
    .ng-option {
      color: #fff;
      &.ng-option-selected {
        color: #ffffffa7;
      }
    }
  }
}
.ng-select-multiple {
  .ng-select-container {
    .ng-value-container {
      .ng-value {
        .ng-star-inserted {
          background: linear-gradient(150.77deg, #d700ff 0%, #7000ff 80.92%);
          color: white;
        }
      }
    }
  }
}

.back-button {
  position: absolute;
  top: 0.5rem;
  width: 70%;
}

.upload-photo-id {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid white;
  border-radius: 5px;
  background: transparent;
  height: 3rem;
  font-size: 1rem;
  font-weight: bold;
}
.loshu-grid-continer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 100vh;
}

.turtle-bg-occean {
  position: relative;
  background-image: linear-gradient(0deg, #182848, #2980b9);

  .bubble {
    width: 30px;
    height: 30px;
    border-radius: 100%;
    position: absolute;
    background-color: white;
    bottom: -30px;
    opacity: 0.2;
    animation: bubble 15s ease-in-out infinite,
      sideWays 4s ease-in-out infinite alternate;
  }

  @keyframes bubble {
    0% {
      transform: translateY(0%);
      opacity: 0.06;
    }
    100% {
      transform: translateY(-120vh);
    }
  }

  @keyframes sideWays {
    0% {
      margin-left: 0px;
    }
    100% {
      margin-left: 200px;
    }
  }

  .bubble--1 {
    left: 10%;
    animation-delay: 0.5s;
    animation-duration: 16s;
    opacity: 0.2;
  }

  .bubble--2 {
    width: 15px;
    height: 15px;
    left: 40%;
    animation-delay: 1s;
    animation-duration: 10s;
    opacity: 0.1;
  }

  .bubble--3 {
    width: 10px;
    height: 10px;
    left: 30%;
    animation-delay: 5s;
    animation-duration: 20s;
    opacity: 0.3;
  }

  .bubble--4 {
    width: 25px;
    height: 25px;
    left: 40%;
    animation-delay: 8s;
    animation-duration: 17s;
    opacity: 0.2;
  }

  .bubble--5 {
    width: 30px;
    height: 30px;
    left: 60%;
    animation-delay: 10s;
    animation-duration: 15s;
    opacity: 0.1;
  }

  .bubble--6 {
    width: 10px;
    height: 10px;
    left: 80%;
    animation-delay: 3s;
    animation-duration: 30s;
    opacity: 0.4;
  }

  .bubble--7 {
    width: 15px;
    height: 15px;
    left: 90%;
    animation-delay: -7s;
    animation-duration: 25s;
    opacity: 0.3;
  }

  .bubble--9 {
    width: 20px;
    height: 20px;
    left: 50%;
    bottom: 30px;
    animation-delay: -5s;
    animation-duration: 19s;
    opacity: 0.2;
  }

  .bubble--10 {
    width: 40px;
    height: 40px;
    left: 30%;
    bottom: 30px;
    animation-delay: -21s;
    animation-duration: 16s;
    opacity: 0.3;
  }

  .bubble--11 {
    width: 30px;
    height: 30px;
    left: 60%;
    bottom: 30px;
    animation-delay: -13.75s;
    animation-duration: 20s;
    opacity: 0.3;
  }

  .bubble--11 {
    width: 25px;
    height: 25px;
    left: 90%;
    bottom: 30px;
    animation-delay: -10.5s;
    animation-duration: 19s;
    opacity: 0.3;
  }
}

.turtle {
  width: 500px;
  height: 500px;
  animation: walking-turtle-03 2s ease-in-out infinite alternate;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate3d(-50%, -50%, 0);

  &__head {
    width: 80px;
    height: 95px;
    border-radius: 50%;
    background-color: #82c49f;
    position: relative;
    top: 10%;
    left: 50%;
    transform: translate(-50%, -50%);

    &::before,
    &::after {
      top: 20px;
      width: 8px;
      height: 8px;
      border-radius: 50%;
      background-color: #6a757a;
      content: "";
      position: absolute;
    }

    &::before {
      left: 13px;
    }
    &::after {
      right: 13px;
    }
  }

  &__shell {
    width: 320px;
    height: 350px;
    background-color: #6a757a;
    border-radius: 50%;
    overflow: hidden;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    &::before,
    &::after {
      content: "";
      position: absolute;
      top: 50%;
      left: 50%;
    }

    &::before {
      width: 200px;
      height: 235px;
      background-color: #5d666b;
      transform: translate(-50%, -50%);
      border-radius: 50%;
    }

    &::after {
      width: 50%;
      height: 100%;
      background-color: white;
      opacity: 0.1;
      top: 0;
    }

    div {
      width: 120px;
      height: 80px;
      background: #636e72;
      position: relative;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);

      &::before,
      &::after {
        content: "";
        position: absolute;
        left: 0;
      }

      &::before {
        top: -30px;
        border-left: 60px solid transparent;
        border-right: 60px solid transparent;
        border-bottom: 30px solid #636e72;
      }

      &::after {
        bottom: -30px;
        left: 0;
        border-left: 60px solid transparent;
        border-right: 60px solid transparent;
        border-top: 30px solid #636e72;
      }
    }
  }

  &__tail {
    width: 0;
    height: 0;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-top: 35px solid #84c3a0;
    position: absolute;
    bottom: 5%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  &__legs {
    width: 60px;
    height: 490px;
    border-radius: 45%;
    background-color: #82c49f;
    position: absolute;
    top: 50%;
    left: 50%;

    &.-left {
      transform: translate(-50%, -50%) rotate(-45deg);
      animation: walking-turtle-01 2s ease-in-out infinite alternate;
    }

    &.-right {
      transform: translate(-50%, -50%) rotate(45deg);
      animation: walking-turtle-02 2s ease-in-out infinite alternate;
    }
  }

  &__number_grid {
    display: grid;
    grid-template-columns: repeat(3, 100px);
    position: absolute;
    top: 30%;
    left: 23%;
    height: 180px;
    row-gap: 1rem;

    .number-container {
      background-color: #d9d9d9;
      height: 60px;
      width: 75px;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 15px;
      border: 1px solid black;
      color: #190f37;
    }
  }
}
.description {
  height: 100%;
  position: relative;
  background-color: #ffffffe1;
  overflow-y: scroll;
  border: 5px solid purple;
  &::-webkit-scrollbar {
    width: 10px; /* Width of the scrollbar */
  }

  &::-webkit-scrollbar-track {
    background-color: #f1f1f1; /* Track color */
  }

  &::-webkit-scrollbar-thumb {
    background-color: #888; /* Thumb color */
    border-radius: 6px; /* Rounded corners */
  }
}

body {
  width: 100vw;
  height: 100vh;
  background-color: #def4e5;
}

@keyframes walking-turtle-01 {
  0% {
    transform: translate(-50%, -50%) rotate(-40deg);
  }
  25% {
    transform: translate(-50%, -50%) rotate(-45deg);
  }
  50% {
    transform: translate(-50%, -50%) rotate(-30deg);
  }
  75% {
    transform: translate(-50%, -50%) rotate(-45deg);
  }
  100% {
    transform: translate(-50%, -50%) rotate(-40deg);
  }
}

@keyframes walking-turtle-02 {
  0% {
    transform: translate(-50%, -50%) rotate(40deg);
  }
  25% {
    transform: translate(-50%, -50%) rotate(45deg);
  }
  50% {
    transform: translate(-50%, -50%) rotate(35deg);
  }
  75% {
    transform: translate(-50%, -50%) rotate(45deg);
  }
  100% {
    transform: translate(-50%, -50%) rotate(30deg);
  }
}

@keyframes walking-turtle-03 {
  0% {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  25% {
    transform: translate(-50%, -50%) rotate(3deg);
  }
  50% {
    transform: translate(-50%, -50%) rotate(-1deg);
  }
  75% {
    transform: translate(-50%, -50%) rotate(2deg);
  }
  100% {
    transform: translate(-50%, -50%) rotate(-1deg);
  }
}
// .needs-validation {
//   background: red;

//   @media only screen and (min-width: 320px) and (max-width: 767px) {
//     background: green;
//   }
// }

.layer1-text {
  font-size: 0.95rem;
  font-weight: 500;
  line-height: 1.3rem;
  padding: 1rem;
}

.layer-1-headings {
  padding: 0.5rem;
}

.answer-textarea {
  &::-webkit-scrollbar {
    width: 8px; /* Width of the scrollbar */
  }

  &::-webkit-scrollbar-track {
    background: linear-gradient(150.77deg, #d700ff 0%, #7000ff 80.92%);
    border-radius: 10px;
  }

  &::-webkit-scrollbar-thumb {
    background: linear-gradient(to right, #43c6ac, #f8ffae);
    border-radius: 6px; /* Rounded corners */
  }
}

.answer-textarea-love {
  background-color: rgba(255, 255, 255, 0.929);
  border-radius: 5px;
  padding: 1rem;
  &::-webkit-scrollbar {
    width: 8px; /* Width of the scrollbar */
  }

  &::-webkit-scrollbar-track {
    background: linear-gradient(150.77deg, #d700ff 0%, #7000ff 80.92%);
    border-radius: 10px;
  }

  &::-webkit-scrollbar-thumb {
    background: linear-gradient(to right, #43c6ac, #f8ffae);
    border-radius: 6px; /* Rounded corners */
  }
}

.form-check-input:checked {
  background-color: #2ae173;
}

.layer-1-background {
  background-color: #6a00ff;
  margin: 10px;
}
.see-story {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.75rem;
  padding: 1rem;
  border-radius: 10px;
  background: linear-gradient(to right, #9857f22d, #6d1cdfc8);
}
.next-button {
  // float: right;
  display: flex;
  margin-left: 10px;
  background: linear-gradient(to right, #6e12f0d9, #911cdfc8);
  padding: 1rem;
  border-radius: 10px;
  cursor: pointer;
  justify-content: space-between;
  margin-top: 3px;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background-color: gray;
  padding: 20px;
}

.choose-time {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
  @media only screen and (min-width: 320px) and (max-width: 767px) {
    grid-template-columns: 1fr;
    margin: 10px;
  }
}

.box {
  margin: 10px 0;
  padding: 20px;
  border-radius: 10px;
  color: white;
  font-family: Arial, sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.bool-cat {
  display: grid;
  gap: 100px;
  grid-template-columns: 1fr 200px;
  @media only screen and (min-width: 320px) and (max-width: 767px) {
    grid-template-columns: 1fr;
  }
}
.business-cat {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
}

.cat-continer {
  display: grid;
  gap: 10px;
  grid-template-areas:
    ".... .... one-cat one-cat"
    ".... two-cat two-cat two-cat"
    "three-cat three-cat four-cat four-cat"
    ".... five-cat five-cat ...."
    "six-cat six-cat .... ....";

  grid-template-columns: repeat(4, 1fr);
  flex: 1;
  @media only screen and (min-width: 320px) and (max-width: 767px) {
    grid-template-columns: 1fr;
    grid-template-areas:
      "one-cat"
      "two-cat"
      "three-cat"
      "four-cat"
      "five-cat"
      "six-cat";
  }
}

// .cat-continer > * {
//   background-color: rgba(111, 41, 97, 0.4);
//   border-radius: 5px;
//   padding: 10px;
// }

.one-cat {
  grid-area: one-cat;
  border-radius: 20px;
  background-color: #ffc9b2;
  height: 100px;
  position: relative; /* Ensure element is positioned correctly */
  left: 1.5rem;
  &:hover {
    opacity: 0.91;
  }
  color: black;
  h5 {
    font-weight: 500;
  }
}

.two-cat {
  grid-area: two-cat;
  height: 100px;
  width: 80%;
  border-radius: 20px;
  background-color: #fbc02d;
  position: relative; /* Ensure element is positioned correctly */
  left: 1.5rem;
  &:hover {
    opacity: 0.91;
  }
  color: black;
  h5 {
    font-weight: 500;
  }
}

.three-cat {
  grid-area: three-cat;
  background-color: #6d5293;
  border-radius: 20px;
  height: 100px;
  &:hover {
    opacity: 0.91;
  }
  color: black;
  h5 {
    font-weight: 500;
  }
}

.four-cat {
  grid-area: four-cat;
  background-color: #46f237;
  border-radius: 20px;
  height: 100px;
  &:hover {
    opacity: 0.91;
  }
  color: black;
  h5 {
    font-weight: 500;
  }
}
.five-cat {
  grid-area: five-cat;
  background-color: #2d46ff;
  border-radius: 20px;
  height: 100px;
  &:hover {
    opacity: 0.91;
  }
  color: black;
  h5 {
    font-weight: 500;
  }
}
.six-cat {
  grid-area: six-cat;
  background-color: #afb9ff;
  height: 100px;
  border-radius: 20px;
  position: relative; /* Ensure element is positioned correctly */
  left: 1.5rem;
  &:hover {
    opacity: 0.91;
  }
  color: black;
  h5 {
    font-weight: 500;
  }
}

.paywall-overlay {
  background-color: #2424245c;
  height: 100vh;
  width: 100%;
  position: absolute;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.paywall-message-box {
  background-color: #5f39ff;
  border-radius: 15px;
  border: 2px solid black;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}
.paywall-action-area {
  background-color: #a3eeffb5;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 0.75em;
  text-align: center;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
  h5 {
    color: black;
    font-weight: 500;
  }
  p {
    color: black;
    font-weight: 400;
    font-size: 0.75rem;
  }
  .recharge-button {
    background-color: #2ae173;
    border-radius: 50px;
    border: none;
    color: whitesmoke;
    padding-inline: 3rem;
    font-weight: 600;
    font-size: 1rem;
  }
}
.form-fill {
  background-color: #1d182e;
  padding: 3rem;
  border-radius: 10px;
}

.questions-and-answers {
  height: 90vh;
  display: flex;
  gap: 20px;
  .side-panel-gradient-responsive {
    display: none;
  }
  .side-panel-gradient {
    background: linear-gradient(150.77deg, #d700ff 0%, #7000ff 80.92%);
    width: 25.6vw;
  }
  .side-panel-gradient-question {
    background: linear-gradient(to right, #2895ff 0%, #a528ff 98.92%);
    padding: 1px;
    border-radius: 10px;
  }
  .side-panel {
    height: 100vh;
    width: 19.9vw;
    background: linear-gradient(175.65deg, #000000 3.53%, #190f37 96.47%);
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    .question-title {
      display: flex;
      justify-content: center;
      align-items: center;
      border: 1px solid #6a00ff;
      border-radius: 5px;
    }
  }
  .side-panel-question-section {
    background: linear-gradient(175.65deg, #000000 3.53%, #190f37 96.47%);
    border-radius: 5px;
    height: 73vh;
    padding: 10px;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    gap: 10px;
    .selectedQuestion {
      background-color: #6a00ff;
    }
    .question-box {
      border: #ffffff;
      border: 1px solid #6a00ff;
      border-radius: 10px;
      font-size: 0.8rem;
      line-height: 1.2rem;
      display: flex;
      padding: 10px;
      cursor: pointer;
      &:hover {
        border: 1px solid #6a00ff62;
      }
    }
    &::-webkit-scrollbar {
      width: 0px; /* Width of the scrollbar */
    }

    &::-webkit-scrollbar-track {
      background-color: #f1f1f1; /* Track color */
    }

    &::-webkit-scrollbar-thumb {
      background-color: #888; /* Thumb color */
      border-radius: 6px; /* Rounded corners */
    }
  }
  .main-panel {
    width: 100%;
    padding: 1rem;
  }
}
.long-time-frame {
  background-color: #35739f;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  border-radius: 10px;
  &:hover {
    background-color: #35739fc2;
  }
}
.short-time-frame {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}
.find-answers {
  display: flex;
  position: relative;
  justify-content: center;
  height: 100%;
  align-items: center;
  .torch-ligth {
    position: absolute;
    height: 150px;
    top: 18%;
    left: 13%;
    animation: moveTorch 5s infinite;
    transform-origin: right;
  }
  img {
    position: absolute;
    height: 400px;
  }
}

@media only screen and (min-width: 320px) and (max-width: 767px) {
  h2 {
    font-size: 1.75rem;
  }
  .web-view-visible {
    display: none;
  }

  .mobile-view-visible {
    display: block;
  }

  .questions-and-answers {
    z-index: 10000;
    .side-panel-gradient {
      display: none;
    }

    .side-panel-gradient-responsive {
      position: absolute;
      width: 90vw;
      height: 90vh;
      display: block;
    }
    .side-panel-gradient-question {
      background: linear-gradient(to right, #2895ff 0%, #a528ff 98.92%);
      padding: 1px;
      border-radius: 10px;
    }
    .side-panel {
      height: 100vh;
      width: 100vw;
      background: linear-gradient(175.65deg, #000000 3.53%, #190f37 96.47%);
      padding: 10px;
      display: flex;
      flex-direction: column;
      gap: 10px;
      .question-title {
        display: flex;
        justify-content: center;
        align-items: center;
        border: 1px solid #6a00ff;
        border-radius: 5px;
      }
    }
    .side-panel-question-section {
      background: #230033;
      border-radius: 5px;
      height: 73vh;
      padding: 10px;
      overflow-y: scroll;
      display: flex;
      flex-direction: column;
      gap: 10px;
      .selectedQuestion {
        background-color: #6a00ff;
      }
      .question-box {
        border: #ffffff;
        border: 1px solid #6a00ff;
        border-radius: 10px;
        font-size: 0.8rem;
        line-height: 1.2rem;
        display: flex;
        padding: 10px;
        cursor: pointer;
        &:hover {
          border: 1px solid #6a00ff62;
        }
      }
      &::-webkit-scrollbar {
        width: 0px; /* Width of the scrollbar */
      }

      &::-webkit-scrollbar-track {
        background-color: #f1f1f1; /* Track color */
      }

      &::-webkit-scrollbar-thumb {
        background-color: #888; /* Thumb color */
        border-radius: 6px; /* Rounded corners */
      }
    }
    .main-panel {
      width: 100%;
      padding: 1rem;
    }
  }
  .find-answers {
    z-index: 10;
    width: 90vw;
    overflow: hidden;
    .torch-ligth {
      position: absolute;
      height: 80px;
      top: 33%;
      left: 0%;
      animation: none;
    }
    img {
      position: absolute;
      height: 200px;
    }
  }
}

@keyframes moveTorch {
  0%,
  100% {
    transform: translateY(5px) rotate(0) scale(1);
    transform-origin: 90% 50%;
  }

  75% {
    transform: translateY(-80px) rotate(1.2deg) scale(2) translateX(-10px);
  }
}
.initial-setup {
  display: flex;
  position: relative;
  justify-content: center;
  height: 100%;
  align-items: center;
  .text {
    position: absolute;
    top: 100px;
    text-align: center;
    font-size: 1rem;
    color: #d9d9d9d0;
  }
  img {
    position: absolute;
    height: 300px;
  }
  .bg-meditation {
    display: inline-block;
    animation: rotate 10s linear infinite; /* 2s duration, linear timing, infinite loop */
  }
  .foreground {
    top: 250px;
    animation: upDown 3s ease-in-out infinite;
  }

  @keyframes upDown {
    0% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(
        -15px
      ); /* Adjust the value for the height of the bounce */
    }
    100% {
      transform: translateY(0);
    }
  }

  @keyframes rotate {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
}

.select-users {
  position: relative;
  width: 100%; /* Adjust as needed */
  display: inline-block;
}

.time-button {
  display: flex;
  padding: 0.25rem; /* p-1 in Tailwind CSS */
  cursor: pointer;
}

.users {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  overflow: hidden;
  max-height: 0;
  transition: max-height 0.5s ease-out;
}

.users.show {
  max-height: 500px; /* Adjust as needed */
}

.users .time-button {
  transform: translateX(-100%);
  transition: transform 0.5s ease-out;
}

.users.show .time-button {
  transform: translateX(0);
}

.table-container {
  height: 70vh;
  background-color: #190f37;
  overflow-y: scroll;
  &::-webkit-scrollbar {
    width: 8px; /* Width of the scrollbar */
  }

  &::-webkit-scrollbar-track {
    background: linear-gradient(150.77deg, #d700ff 0%, #7000ff 80.92%);
    border-radius: 10px;
  }

  &::-webkit-scrollbar-thumb {
    background: linear-gradient(to right, #43c6ac, #f8ffae);
    border-radius: 6px; /* Rounded corners */
  }
}

.styled-table {
  border-collapse: collapse;
  margin: 25px 0;
  font-size: 0.9em;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  width: 100%;
  height: 10%;
  overflow-y: scroll;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
  border: 1px solid #dddddd;
}

.styled-table td {
  padding: 12px 15px;
  border: 1px solid #dddddd;
}

.styled-table tr:nth-of-type(even) {
  background-color: #802db4;
}

.styled-table tr:last-of-type {
  border-bottom: 2px solid #009879;
}

/* dynamic-table.component.css */
.table-container {
  width: 100%;
  position: relative;
  thead {
    position: sticky;
    top: 0;
    background-color: #1d182e;
  }
}
.table-auto {
  width: 100%;
}
.border-collapse {
  border-collapse: collapse;
}
.border {
  border: 1px solid #ddd;
}
.border-gray-300 {
  border-color: #e2e8f0;
}
.px-4 {
  padding-left: 1rem;
  padding-right: 1rem;
}
.py-2 {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}
.max-h-64 {
  max-height: 16rem; /* Adjust as needed */
}
.overflow-y-scroll {
  overflow-y: scroll;
}
