<section class="section">
  <div class="container">
    <div class="d-flex align-items-center justify-content-between mb-5">
      <div class="d-block">
        <h2 class="fw-semi-bold mb-2">Chat with Astrologers</h2>
        <p>Book an appointment right now</p>
        <!-- <p>10,000+ available right now</p> -->
        <!-- <div class="session mt-1">
          <button
            (click)="requestForFeature ? resetMatch() : findMatch()"
            class="btn btn-white gradient-button"
          >
            {{ requestForFeature ? "Reset" : "Request For Chat" }}
          </button>
        </div> -->
      </div>

      <button
        class="btn btn-bordered"
        type="button"
        (click)="openFilter(filterModal)"
      >
        Filters <img src="../../../assets/images/filter.png" class="ms-1" />
      </button>
    </div>
    <div class="row" *ngIf="loadSpinner">
      <div class="text-center">
        <div class="spinner-border mb-1 text-primary" role="status"></div>
        <div class="spinner-grow" role="status"></div>
        <div
          class="spinner-grow"
          style="width: 3rem; height: 3rem"
          role="status"
        ></div>

        <div class="spinner-grow" role="status"></div>

        <div class="spinner-border mb-1 text-primary" role="status"></div>
        <p>Please Wait We Are Finding A match ...</p>
      </div>
    </div>

    <div class="row" *ngIf="!loadSpinner">
      <ng-container *ngFor="let astrologer of astrologersData">
        <div
          class="col-xl-3 col-lg-6"
          (click)="requestForFeature && navigateToAboutPage(astrologer)"
        >
          <div class="card astrologer text-center">
            <div class="card-body">
              <div
                class="status d-flex align-items-center justify-content-between"
              >
                <p *ngIf="astrologer['isOnline']" class="text-start mb-0">
                  <img
                    src="../../../assets/images/online.png"
                    class="me-1"
                  /><span>Available</span>
                </p>
                <p class="text-end mb-0">
                  <img
                    src="../../../assets/images/view.png"
                    class="me-1"
                  /><span
                    >{{ astrologer["chatChargePerMinute"] }} INR / min</span
                  >
                </p>
              </div>
              <div
                class="d-flex justify-content-center"
                *ngIf="!astrologer['profilePicUrl']"
              >
                <div
                  class="avatar-md rounded-circle mb-2 bg-dark content-center"
                >
                  {{ astrologer["firstName"][0]?.toUpperCase() }}
                </div>
              </div>
              <img
                class="avatar-md rounded-circle mb-2"
                src="{{ astrologer['profilePicUrl'] }}"
                *ngIf="astrologer['profilePicUrl']"
              />
              <h4 class="fw-semi-bold mb-2">
                {{
                  astrologer["firstName"]?.toUpperCase() +
                    " " +
                    astrologer["lastName"]?.toUpperCase()
                }}
              </h4>
              <p class="mb-2">
                {{ astrologer["yearsOfExperience"] }} years of experience
              </p>

              <div class="tags">
                <h5 class="text-muted mb-2">
                  {{ astrologer["specialties"]?.join(",") }}
                </h5>
              </div>

              <div class="reviews">
                <h6 class="mb-2">
                  <span> {{ astrologer?.overallRating || 0 }}</span>
                  <img src="../../../assets/images/star.png" class="mx-1" />
                  <span class="me-1">|</span>
                  <span>{{ astrologer?.totalReview || 0 }} Reviews</span>
                </h6>
              </div>

              <div class="session mt-1">
                <button
                  (click)="bookAnAppointment($event, astrologer, book, content)"
                  class="btn btn-yellow"
                >
                  Book
                </button>
              </div>

              <!-- <div *ngIf="requestForFeature" class="session mt-1">
                <button
                  (click)="
                    sendChatNotificationToAstrologer(
                      $event,
                      astrologer,
                      content
                    )
                  "
                  class="btn btn-white"
                >
                  Request Chat
                </button>
              </div> -->
            </div>
          </div>
        </div>
      </ng-container>
    </div>
  </div>
</section>
<ngb-toast
  *ngIf="toast"
  [autohide]="true"
  [delay]="5000"
  class="toast-container position-fixed top-0 end-0 p-3 bg-success text-light"
  (hidden)="resetToast()"
  >{{ message }}
</ngb-toast>

<ng-template #book let-modal>
  <div
    class="modal-body d-flex justify-content-center align-items-center flex-column p-5"
  >
    <div class="mb-3">
      <div style="height: 500px; width: 500px">
        <iframe
          src="https://calendly.com/raksafirebase/astrology-session"
          style="border: 0; width: 100%; height: 100%"
          frameborder="0"
          scrolling="no"
        ></iframe>
      </div>
    </div>
    <div class="d-flex justify-content-center align-items-center gap-3">
      <button
        type="button"
        class="btn btn-outline-light"
        (click)="modal.close()"
      >
        Close
      </button>
    </div>
  </div>
</ng-template>

<ng-template #content let-modal>
  <div
    class="modal-body d-flex justify-content-center align-items-center flex-column p-5"
  >
    <div class="mb-3">
      <label for="dateOfBirth">{{ message }}</label>
    </div>
    <div class="d-flex justify-content-center align-items-center gap-3">
      <button
        type="button"
        class="btn btn-outline-light"
        (click)="modal.close()"
      >
        Cancel
      </button>
      <button
        type="button"
        class="btn btn-outline-light btn-success"
        (click)="openWallet()"
      >
        Recharge Wallet
      </button>
    </div>
  </div>
</ng-template>

<ng-template #filterModal let-modal>
  <div class="modal-header">
    <h5 class="modal-title fw-semi-bold" id="modal-basic-title">Filters</h5>
    <button
      type="button"
      class="btn-close btn-close-white"
      aria-label="Close"
      (click)="modal.dismiss('Cross click')"
    ></button>
  </div>
  <div class="modal-body">
    <div class="d-flex">
      <div class="flex-shrink-0 border-right py-3">
        <ul ngbNav #navFilters="ngbNav" class="filter-nav flex-column">
          <li [ngbNavItem]="1">
            <a ngbNavLink>Expertise</a>

            <ng-template ngbNavContent>
              <div *ngFor="let expertise of specialtiesArray; let i = index">
                <div class="form-check form-check-sm">
                  <input
                    class="form-check-input me-2"
                    type="checkbox"
                    (change)="specialtiesArrayChecked($event, i)"
                    [(ngModel)]="expertise.checked"
                    id="{{ i }}"
                  />
                  <label
                    for="{{ i }}"
                    class="form-check-label"
                    for="flexRadioDefault1"
                  >
                    <span>{{ expertise.name }}</span>
                  </label>
                </div>
              </div>
            </ng-template>
          </li>
          <li [ngbNavItem]="2">
            <a ngbNavLink>Language</a>

            <ng-template ngbNavContent>
              <div *ngFor="let language of languagesArray; let i = index">
                <div class="form-check form-check-sm">
                  <input
                    class="form-check-input me-2"
                    type="checkbox"
                    (change)="languageArrayChecked($event, i)"
                    [(ngModel)]="language.checked"
                    id="{{ i }}"
                  />
                  <label class="form-check-label" for="{{ i }}">
                    <span>{{ language.name }}</span>
                  </label>
                </div>
              </div>
            </ng-template>
          </li>
          <li [ngbNavItem]="3">
            <a ngbNavLink>Gender</a>

            <ng-template ngbNavContent>
              <div *ngFor="let gender of genderArray; let i = index">
                <div class="form-check form-check-sm">
                  <input
                    class="form-check-input me-2"
                    type="radio"
                    name="gender"
                    [value]="gender.name"
                    (change)="genderArrayChecked($event, gender.name)"
                    id="{{ i }}"
                    [checked]="gender.name == genderOption"
                  />
                  <label class="form-check-label" for="{{ i }}">
                    <span>{{ gender.name }}</span>
                  </label>
                </div>
              </div>
            </ng-template>
          </li>
          <li [ngbNavItem]="4">
            <a ngbNavLink>Year Of Experience</a>

            <ng-template ngbNavContent>
              <div
                *ngFor="let experience of yearsOfExperienceArray; let i = index"
              >
                <div class="form-check form-check-sm">
                  <input
                    class="form-check-input me-2"
                    type="radio"
                    name="yearofexperience"
                    (change)="yearsOfExperienceArrayChecked($event, i)"
                    [value]="experience.name"
                    (change)="
                      yearsOfExperienceArrayChecked($event, experience.value)
                    "
                    id="{{ i }}"
                    [checked]="experience.value == yearOption"
                  />
                  <label class="form-check-label" for="{{ i }}">
                    <span>{{ experience.name }}</span>
                  </label>
                </div>
              </div>
            </ng-template>
          </li>
        </ul>
      </div>
      <div class="flex-grow-1 py-3">
        <div [ngbNavOutlet]="navFilters" class="ms-3"></div>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <a class="me-3" (click)="resetFilter()">Reset</a>
    <button tyle="button" class="btn btn-white" (click)="applyFilter()">
      Apply
    </button>
  </div>
  <router-outlet></router-outlet>
</ng-template>
