.content-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.gradient-button {
  background: linear-gradient(
    150.77deg,
    #d700ff 0%,
    #7000ff 98.92%
  ); /* Adjust colors as needed */

  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background 0.3s ease;
}

.gradient-button:hover {
  background: linear-gradient(
    150.77deg,
    #d700ff 0%,
    #7000ff 80.92%
  ); /* Reverse the gradient colors on hover */
}
