<section class="h-full section text-center">
  <div class="container web-card position-relative">
    <div class="nav-card">
      🚀
      <div>
        <button class="btn gradient-button" type="button" (click)="onClick()">
          Start Now
        </button>
      </div>
    </div>
    <h2 class="fw-semi-bold mb-3" style="text-align: left">Pricing</h2>
    <h6 class="fw-semi-bold mb-3" style="text-align: left">
      Ask any number of questions in any aspect of life at the lowest <br />
      cost and get consistent results.
    </h6>
    <div class="guide-cards-section">
      <div class="card guide-card hero-card box">
        <div class="">
          <div class="d-flex align-items-center">
            <div class="flex-grow-1 text-start overflow-hidden">
              <!-- <div class="mb-3">
                <img [src]="testimonial['avatar']" height="25px" width="25px" />
              </div> -->
              <p class="fw-semi-bold mb-3" style="font-size: 2rem">
                INR 29 / Aspect of Life
              </p>
              <h5>Starter</h5>
              <h6 class="text-muted mb-0">Unleash the power of Raksa.</h6>

              <div class="d-flex flex-column mt-5">
                <div>
                  ✅
                  <span
                    style="font-size: 0.9rem; color: rgba(240, 248, 255, 0.8)"
                    >Multiple Questions</span
                  >
                </div>
                <div>
                  ✅
                  <span
                    style="font-size: 0.9rem; color: rgba(240, 248, 255, 0.8)"
                    >Consistent and Accurate Predicitons</span
                  >
                </div>
                <div>
                  ✅
                  <span
                    style="font-size: 0.9rem; color: rgba(240, 248, 255, 0.8)"
                    >Learn about all aspects of life</span
                  >
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
