<div class="main-section">
  <h1>Our Philosophy</h1>
  <p>
    At Raksa, our philosophy is shaped by the wisdom of great thinkers and
    timeless principles. We believe in integrating these philosophies into our
    astrological services to provide a holistic approach to understanding and
    navigating life.
  </p>
  <button class="btn gradient-button" type="button" (click)="onClick()">
    Get Started
  </button>
</div>

<div class="philosophy-bg">
  <div></div>
  <div class="philosophy-text-section">
    <div class="left-section">
      <img src="../../../assets/images/Nature 6.png" alt="" />
      <div>
        <h3>Ashtavakra: Liberation from Illusion</h3>
        <p>
          Ashtavakra’s teachings focus on breaking free from illusions and
          achieving true self-awareness. Raksa aims to help you see beyond
          surface-level appearances and understand deeper truths, guiding you
          toward liberation from misconceptions and false beliefs.
        </p>
      </div>
    </div>

    <div class="right-section">
      <div>
        <h3>Vedanta: Unity and Knowledge</h3>
        <p>
          Vedanta teaches the oneness of all existence and the importance of
          self-knowledge. At Raksa, we integrate these teachings to help you
          realize your connection to the universe and your true nature. Our
          guidance aims to deepen your understanding and promote a sense of
          unity and inner peace.
        </p>
      </div>
      <img src="../../../assets/images/Nature 1.png" alt="" />
    </div>
  </div>
</div>

<div class="left-section normal-section">
  <img src="../../../assets/images/Nature 7.png" alt="" />
  <div>
    <h3>Socrates: "Know Thyself"</h3>
    <p>
      Socrates taught us the importance of self-awareness and introspection. At
      Raksa, we encourage you to delve deep into your own nature and understand
      your true self. Our personalized astrological insights are designed to
      help you achieve greater self-awareness and make informed decisions.
    </p>
  </div>
</div>

<div class="right-section normal-section">
  <div>
    <h3>Buddha: Mindfulness and Compassion</h3>
    <p>
      Buddha's teachings emphasize mindfulness and compassion. We incorporate
      these principles to help you cultivate a mindful approach to life’s
      challenges. Our insights aim to promote inner peace and empathy, guiding
      you to navigate life’s ups and downs with a compassionate heart.
    </p>
  </div>
  <img src="../../../assets/images/Nature 5.png" alt="" />
</div>

<div class="left-section normal-section mt-5 mb-5">
  <img src="../../../assets/images/Nature 3.png" alt="" />
  <div>
    <h3>Lao Tzu: Harmony and Simplicity</h3>
    <p>
      Lao Tzu’s philosophy centers on living in harmony with the natural flow of
      life and embracing simplicity. Raksa’s approach encourages you to align
      with life’s natural rhythms and simplify your journey, helping you find
      balance and ease amidst the complexities of life.
    </p>
  </div>
</div>
