.dashboard {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .menu-section {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    width: 100%;
    gap: 0.75rem;
    padding: 1rem;
  }
  .menu-gradient {
    background: linear-gradient(to right, #2895ff 0%, #a528ff 98.92%);
    padding: 1px;
    border-radius: 10px;
    position: relative;
  }
  .menus {
    display: flex;
    position: relative;

    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1rem;
    height: 100%;
    background: linear-gradient(175.65deg, #000000 3.53%, #190f37 96.47%);
    font-size: 1rem;
    font-weight: 600;
    border-radius: 10px;
    padding: 0.75rem;
  }
  .menus:hover {
    background: linear-gradient(to right, #2895ff 0%, #a528ff 98.92%);
  }
  .tooltip-1 {
    position: absolute;
    background: linear-gradient(to right, #2895ff 0%, #a528ff 98.92%);
    color: rgb(255, 255, 255);
    padding: 5px;
    border-radius: 5px;
    z-index: 1000;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 0.75rem;
    line-height: 1rem;
  }
  @media only screen and (min-width: 320px) and (max-width: 767px) {
    height: 100%;
    .menu-section {
      grid-template-columns: repeat(1, 1fr);
    }
  }
}

.coming-soon {
  position: absolute;
  bottom: 0;
  right: 0px;
  background-color: yellow;
  color: black;
  width: 150px;
  text-align: center;
  // rotate: 330deg;
  font-size: 0.85rem;
  border-radius: 5px;
  animation: rotateAnimation 4s ease-in-out infinite;
}

@keyframes rotateAnimation {
  0% {
    transform: rotate(330deg);
  }
  50% {
    transform: rotate(340deg);
  }
  100% {
    transform: rotate(330deg);
  }
}

.bool-cat {
  display: grid;
  gap: 100px;
  grid-template-columns: 1fr;
  @media only screen and (min-width: 320px) and (max-width: 767px) {
    grid-template-columns: 1fr;
  }
}

.cat-continer {
  display: grid;
  gap: 10px;
  grid-template-areas:
    ".... .... one-cat one-cat"
    ".... two-cat two-cat two-cat"
    "three-cat three-cat four-cat four-cat"
    ".... five-cat five-cat ...."
    "six-cat six-cat .... ....";

  grid-template-columns: repeat(4, 1fr);
  flex: 1;
  @media only screen and (min-width: 320px) and (max-width: 767px) {
    grid-template-columns: 1fr;
    grid-template-areas:
      "one-cat"
      "two-cat"
      "three-cat"
      "four-cat"
      "five-cat"
      "six-cat";
  }
}

.one-cat {
  grid-area: one-cat;
  border-radius: 20px;
  background-color: #ffc9b2;
  height: 100px;
  position: relative; /* Ensure element is positioned correctly */
  left: 1.5rem;
  &:hover {
    opacity: 0.91;
  }
  color: black;
  h5 {
    font-weight: 500;
  }
}

.two-cat {
  grid-area: two-cat;
  height: 100px;
  width: 80%;
  border-radius: 20px;
  background-color: #fbc02d;
  position: relative; /* Ensure element is positioned correctly */
  left: 1.5rem;
  &:hover {
    opacity: 0.91;
  }
  color: black;
  h5 {
    font-weight: 500;
  }
}

.three-cat {
  grid-area: three-cat;
  background-color: #6d5293;
  border-radius: 20px;
  height: 100px;
  &:hover {
    opacity: 0.91;
  }
  color: black;
  h5 {
    font-weight: 500;
  }
}

.four-cat {
  grid-area: four-cat;
  background-color: #46f237;
  border-radius: 20px;
  height: 100px;
  &:hover {
    opacity: 0.91;
  }
  color: black;
  h5 {
    font-weight: 500;
  }
}
.five-cat {
  grid-area: five-cat;
  background-color: #2d46ff;
  border-radius: 20px;
  height: 100px;
  &:hover {
    opacity: 0.91;
  }
  color: black;
  h5 {
    font-weight: 500;
  }
}
.six-cat {
  grid-area: six-cat;
  background-color: #afb9ff;
  height: 100px;
  border-radius: 20px;
  position: relative; /* Ensure element is positioned correctly */
  left: 1.5rem;
  &:hover {
    opacity: 0.91;
  }
  color: black;
  h5 {
    font-weight: 500;
  }
}

.paywall-overlay {
  background-color: #2424245c;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.paywall-message-box {
  background-color: #5f39ff;
  border-radius: 15px;
  border: 2px solid black;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  width: 30%;
}
.paywall-action-area {
  background-color: #a3eeffb5;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 0.75em;
  text-align: center;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
  h5 {
    color: black;
    font-weight: 500;
  }
  p {
    color: black;
    font-weight: 400;
    font-size: 0.75rem;
  }
  .recharge-button {
    background-color: #2ae173;
    border-radius: 50px;
    border: none;
    color: whitesmoke;
    padding-inline: 3rem;
    font-weight: 600;
    font-size: 1rem;
  }
}
.responsive-paywall-overlay {
  display: none;
}

@media only screen and (min-width: 320px) and (max-width: 767px) {
  .paywall-overlay {
    display: none;
  }
  .responsive-paywall-overlay {
    background-color: #2424245c;
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .paywall-message-box {
    background-color: #5f39ff;
    border-radius: 15px;
    border: 2px solid black;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    width: 100%;
    height: 100vh;
  }
}
