<div class="hero-wrap-new" *ngIf="steps != 3">
  <h4 style="text-align: center; font-weight: 800; padding-bottom: 1.5rem">
    You are entering sacred space!
  </h4>
  <div class="hero-page-v2">
    <div class="hero-text-left-section">
      <div class="hero-text">
        <img
          src="../../../assets/images/dashboard_entry.png"
          alt="testimonial['text']"
          title="testimonial['text']"
          height="61%"
          width="130%"
          style="object-fit: contain"
        />
      </div>
    </div>

    <div class="corsell-continer">
      <owl-carousel-o [options]="heroImageOwlOptions">
        <ng-container *ngFor="let testimonial of heroImage">
          <ng-template carouselSlide [id]="testimonial['_id'].toString()">
            <div class="hero-card">
              <h4 style="text-align: center; font-weight: 600; font-size: 1rem">
                TIPS TO IMPROVE YOUR READINGS
              </h4>
              <div
                class="d-flex justify-content-center align-items-center flex-column"
              >
                <h4 style="text-align: center; font-weight: 600">
                  {{ testimonial["text"] }}
                </h4>
                <p
                  style="font-size: 1rem; font-weight: 600; width: 100%"
                  *ngFor="let p of testimonial['para']"
                >
                  {{ p }}
                </p>
              </div>

              <div class="text-center">
                <button
                  class="btn button"
                  type="button"
                  (click)="runTimer(breath)"
                >
                  Breathe
                </button>
              </div>
            </div>
          </ng-template>
        </ng-container>
      </owl-carousel-o>
    </div>

    <div class="hero-ab">
      <div class="hero-text-left-section w-l-25">
        <button
          class="btn gradient-button"
          type="button"
          (click)="goToDashBoard()"
          style="z-index: 50"
        >
          Start
        </button>
      </div>
    </div>
  </div>
</div>

<div class="dashboard" *ngIf="selectedCategory == null && steps == 3">
  <h2 class="fw-bold">I want answers in ...</h2>
  <div class="menu-section">
    <div
      *ngFor="let menu of section"
      class="menu-gradient"
      (mouseover)="showTooltip($event, menu?.menu)"
    >
      <div (click)="selectedCategoryClick(menu?.menu)" class="menus">
        <div *ngIf="menu?.freeToUse" class="free-to-use">Free To Use</div>
        <img [src]="menu.logo" alt="" />
        <div>{{ menu?.menu }}</div>

        <div *ngIf="menu?.comingSoon" class="coming-soon">Coming Soon</div>
        <div
          class="tooltip-1"
          (mouseout)="hideTooltip()"
          *ngIf="menu?.menu === tooltipVisible"
        >
          {{ menu?.toolTip }}
        </div>
      </div>
    </div>
  </div>
</div>

<div class="dashboard" *ngIf="selectedCategory == 'Self / You' && steps == 3">
  <div class="">
    <div class="mb-2">
      <div class="bool-cat">
        <div class="cat-continer">
          <div
            class="one-cat d-flex justify-content-around align-items-center"
            (click)="selectCategory('self_awareness')"
          >
            <img
              src="../../../assets/images/self-awareness.png"
              width="80px"
              height="80px"
            />
            <h5>Staying on track - Self Awareness</h5>
          </div>
          <div
            class="two-cat d-flex justify-content-around align-items-center"
            (click)="selectCategory('family')"
          >
            <img
              src="../../../assets/images/family.png"
              width="80px"
              height="80px"
            />
            <h5>Family</h5>
          </div>
          <div
            class="three-cat d-flex justify-content-around align-items-center"
            (click)="selectCategory('numerology')"
          >
            <img
              src="../../../assets/images/number9.png"
              width="50px"
              height="70px"
            />
            <h5>Numerology</h5>
          </div>
          <div
            class="four-cat d-flex justify-content-around align-items-center"
            (click)="selectCategory('wealth')"
          >
            <img
              src="../../../assets/images/wealth.png"
              width="80px"
              height="80px"
            />
            <h5>Wealth</h5>
          </div>
          <div
            class="five-cat d-flex justify-content-around align-items-center"
            (click)="selectCategory('health')"
          >
            <img
              src="../../../assets/images/health.png"
              width="150px"
              height="80px"
            />
            <h5>Health</h5>
          </div>
          <div
            class="six-cat d-flex justify-content-around align-items-center"
            (click)="selectCategory('travel')"
          >
            <img
              src="../../../assets/images/travel.png"
              width="150px"
              height="80px"
            />
            <h5>Travel</h5>
          </div>
        </div>
      </div>

      <!-- <div class="container">
              <div class="box personal">Personal</div>
              <div class="box staying-on-track">
                Staying on track - Self Awareness
              </div>
              <div class="box family">
                <img src="path/to/family-icon.png" alt="Family" />
                Family
              </div>
              <div class="box numerology">
                <div class="number">9</div>
                Numerology
              </div>
              <div class="box wealth">
                <img src="path/to/wealth-icon.png" alt="Wealth" />
                Wealth
              </div>
              <div class="box health">
                <img src="path/to/health-icon.png" alt="Health" />
                Health
              </div>
              <div class="box travel">
                <img src="path/to/travel-icon.png" alt="Travel" />
                Travel
              </div>
            </div> -->
    </div>
  </div>
</div>

<div
  class="dashboard"
  *ngIf="selectedCategory == 'Know' && selectedCategory != null && steps == 3"
>
  <h2 class="fw-bold">{{ selectedCategory }}</h2>
  <div class="menu-section">
    <div *ngFor="let menu of section" class="menu-gradient">
      <div (click)="selectCategory(menu?.menu)" class="menus">
        <img [src]="menu.logo" alt="" />
        <div>{{ menu?.menu }}</div>
      </div>
    </div>
  </div>
</div>

<div class="paywall-overlay" *ngIf="confitee">
  <div class="paywall-message-box">
    <img
      src="../../../assets/images/welcome_screen.png"
      width="280px"
      height="250px"
    />
    <div class="paywall-action-area">
      <h5 style="text-align: center">
        🎉 Congratulations! 🎉We've added ₹29 to your account. Enjoy exploring
        our premium astrology features! 💸✨
      </h5>
      <button class="recharge-button" (click)="hideConfitee()">Claim</button>
    </div>
  </div>
</div>

<ng-template #breath let-modal>
  <div
    class="modal-body d-flex justify-content-center align-items-center flex-column p-5"
  >
    <div class="start-breathing" *ngIf="steps == 2">
      <div>
        <p class="anim-circle"></p>
        <div class="breath-status">{{ breathStatus }}</div>
      </div>
    </div>
    <div class="start-breathing" *ngIf="steps == 1">
      <h2>Your breathing excercise will start in</h2>
      <div class="timer animatable">
        <svg>
          <circle cx="50%" cy="50%" r="90"></circle>
          <circle cx="50%" cy="50%" r="90" pathLength="1"></circle>
          <text x="100" y="100" text-anchor="middle">
            <tspan style="color: white">{{ timeLeft }}</tspan>
          </text>
          <text x="100" y="120" text-anchor="middle">seconds</text>
        </svg>
      </div>
    </div>
    <div class="d-flex justify-content-center align-items-center gap-3">
      <div class="dashboard-button">
        <button
          class="btn gradient-button"
          type="button"
          *ngIf="steps == 2"
          (click)="goToDashBoard()"
        >
          Go To dashboard
        </button>
      </div>
    </div>
  </div>
</ng-template>
